.page {
  margin: 15px;
}

.ligne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.colonne {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
